:root {
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}



.red {
  color: red;
}
.green {
  color: green;
}

button {
  background-color: var(--color-dark);
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

ul {
  list-style: none;
}



.form-add-friend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-light);

}

.form-split-bill {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
}

img {
  border-radius: 50%;
}

ul li {
  margin-top: 7px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul li:hover {
  background-color: var( --color-light);
   
}

ul li.selected {
  background-color: var( --color-light);   
}
.app { 
  width: 600px;
  display: flex;
  justify-content: space-between;
}